### Import Library

In [1]:
import numpy as np ## linear algebra
import pandas as pd ## data processing

import warnings
warnings.filterwarnings("ignore")

In [2]:
movies=pd.read_csv(r'C:\Users\hp\Downloads\Movie_List.csv')

In [3]:
movies.head(10)

   Movie_ID            Title  Year          Genre
0     34759         Aaghaaz   2000       Thriller
1     34760     Aaj Ka Ravan  2000          Drama
2     34761          Anjaane  2000        Romance
3     34762      Anokha Moti  2000         Family
4     34763     Apradhi Kaun  2000       Thriller
5     34764          Astitva  2000  Drama, Social
6     34765           Baaghi  2000         Action
7     34766            Badal  2000  Action, Drama
8     34767  Bas Yaari Rakho  2000  Comedy, Drama
9     34768         Bawandar  2000          Drama

In [4]:
movies.shape

(2089, 4)

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089 entries, 0 to 2088
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Movie_ID  2089 non-null   int64
 1   Title     2089 non-null   object
 2   Year      2089 non-null   int64
 3   Genre     2035 non-null   object
dtypes: int64(2), object(2)
memory usage: 65.4+ KB

In [6]:
movies.isnull().sum()

Movie_ID     0
Title        0
Year         0
Genre       54
dtype: int64

In [7]:
for m in movies.keys():
    print("{}  ::  {}".format(m,movies[m].unique()))

Movie_ID  ::  [34759 34760 34761 ... 36970 36971 36972]
Title  ::  ['Aaghaaz ' 'Aaj Ka Ravan' 'Anjaane' ... 'Mardaani 2' 'Dabangg 3'
 'Good News']
Year  ::  [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019]
Genre  ::  ['Thriller' 'Drama' 'Romance' 'Family' 'Drama, Social' 'Action'
 'Action, Drama' 'Comedy, Drama' 'Comedy' 'Horror' 'Action, Romance'
 'Romance, Drama' nan 'Comedy, Romance' 'Drama, Family, Thriller' 'Crime'
 'Comedy, Drama, Romance' 'Comedy, romance' 'Romance, Drama, Musical'
 'Action, romance' 'Romance, drama' 'Drama, War, Thriller'
 'Drama, Romance, Musical, Family' 'Comedy, Drama, Romance, Musical'
 'Comedy, Musical' 'Drama, Romance' 'Thriller, Action, Romance'
 'Suspense, Thriller' 'Thriller\n' 'Family Drama\n' 'Action Comedy\n'
 'Thriller, Suspense, Crime\n' 'Thriller, Horror\n' 'Romance\n'
 'History\n' 'Drama, Romance, Social\n' 'Action\n' '\n' 'Drama\n'
 'Drama, Romance, Musical, Social\n' 'Drama, Romance\n'
 'Drama, Comedy, Romance, Musical\n' 'Action, Romance\n'
 'Drama, War, Romance, Action\n' 'Action, Drama, Thriller\n' 'Comedy\n'
 'Drama, Romance, Family\n' 'Comedy, Drama\n' 'Comedy, Romance\n'
 'Drama, Musical, Social\n' 'Drama, Romance, Musical, Crime\n'
 'Comedy, Family\n' 'Drama, Romance, Thriller\n' 'Romance, Drama\n'
 'Historical Drama\n' 'Thriller, Action\n' 'Historical\n'
 'Action, Thriller\n' 'Action, Comedy\n' "Children's\n"
 'Comedy, Romance, Crime\n' 'Crime, Drama\n'
 'Romance, Drama, Musical, Historical\n' 'Family, Romance, Drama\n'
 'Erotic\n' 'Thriller, Romance\n' 'Thriller, Romance, Musical\n'
 'Fantasy\n' 'Romance, Drama, Comedy\n'
 'Romance, Drama, Comedy, Musical\n' 'Family, Drama, Social\n'
 'Action, Crime\n' 'Horror, Thriller, Romance, Musical\n'
 'Drama, Family\n' 'Drama, Romance, Social, Musical\n'
 'Historical, Drama\n' 'Musical\n' 'Horror\n'
 'Drama, Romance, Comedy, Musical\n' 'Action, Drama, Romance, Thriller\n'
 'Horror, Thriller\n' 'Action, Drama, Romance\n' 'Drama, Social\n'
 'Drama, Action, Thriller\n' 'Drama, Thriller\n' 'Drama, Musical\n'
 'Drama, Romance, Comedy, Family, Musical, Social\n'
 'Romance, Fantasy, Musical\n' 'Drama, Romance, Musical\n'
 'War, Drama, Historical\n' 'Comedy, Social, Musical\n' 'Adult\n'
 'War, Drama\n' 'Mystery, Thriller\n' 'Romance, Comedy\n'
 'Adult Romance\n' 'Thriller, Drama\n' 'Fantasy, Thriller\n'
 'Erotic Romance\n' 'Comedy, Drama, Romance, Family\n'
 'Comedy, Romance, Drama, Musical\n' 'Adult Drama\n' 'Adult Comedy\n'
 'War, Drama, Action, Romance\n' 'Adult Thriller\n'
 'Action, Musical, Drama, Comedy\n' 'Mystery, Drama\n'
 'Romance, Musical Drama\n' 'Action, Comedy, Romance\n'
 'Comedy, Romance, Musical\n' 'Black Comedy\n' 'Sports Comedy\n'
 'Action, Drama\n' 'Romantic, Comedy\n' 'Fantasy Thriller\n'
 'Drama, Romance, Family, Musical\n' 'Drama, Action\n'
 'Crime / Thriller\n' 'Romance, Drama, Family\n'
 'Comedy, Crime, Romance, Musical\n' 'Erotic Drama\n'
 'Action, Thriller, Suspense\n' 'Erotic Thriller\n' 'Romantic Comedy\n'
 'Family drama\n' 'Sports, Drama, Social\n' 'Erotic, Crime\n'
 'Erotic romance\n' 'Drama, Historical\n' 'Comedy, Drama, Romance\n'
 'Romance, Musical\n' 'Erotic thriller\n' 'Fantasy, Romance, Musical\n'
 'Romance, Comedy, Drama, Social\n' 'History, Epic, Romance\n'
 'Fantasy, Comedy\n' 'Thriller, Mystery' 'Comedy, Romance, Social'
 'Drama, Romance, Crime' 'Comedy, Thriller' 'Action, Sports, Romance'
 'Drama, Romance, Family, Social' 'Drama, Comedy'
 'Drama, Thriller, Business' 'Comedy, Crime'
 'Thriller, Action, Romance, Musical' 'Thriller, Action, Drama'
 'Drama, Thriller' 'Drama, Romance, Thriller, Musical' 'Action, Thriller'
 'Thriller, Comedy' 'Drama, Romance, Social' 'Supensene, Thriller, Sci-fi'
 'Drama, Romance, Musical, Comedy' 'Comedy, Adult' 'Social, Adult'
 'Drama, Thriller, War' 'Drama, Romance, Musical, Comedy, Family, Social'
 'Superhero, Action, Fantasy, Romance, Musical' 'Comedy, Social, Musical'
 'Romance, Comedy' 'Thriller, Fantasy' 'Drama, Social, Action'
 'Drama, Patriotic, Social' 'Horror, Thriller' 'Drama, Family'
 'Social, Thriller' 'B-grade' 'Drama, Romance, Social, Historical' 'War\n'
 'Drama, Thriller, Romance\n' 'Family, Drama, Sports\n' 'Mythological\n'
 'Mystery, Thriller, Comedy\n' 'Action, Drama, Romance, Crime\n'
 'Crime Fiction, Drama, Historical\n' 'Short Film\n' 'Sports\n'
 'Romance, Comedy, Drama\n' 'Family, Drama\n'
 'Thriller, Horror, Romance, Mystery\n'
 'Action, Comedy, Romance, Musical\n' 'Romance, comedy\n'
 'Drama, Romance, Social, Comedy\n' 'Action, Patriotic\n'
 'Musical, Drama\n' 'Romance |\n' 'Action, Romance, Comedy, Drama\n'
 'Drama, romance\n' 'Cricket\n' 'Drama, social, musical, romance\n'
 'Action, crime, drama\n' 'Romance, drama, social\n' 'Social'
 'Action, Comedy' 'History, Romance' 'Social, Drama, History'
 'Crime, Thriller' 'action, Romance'
 'Drama, action, Crime, Thriller, Romance' 'Comedy, Drama, Fantasy'
 'Fantasy' 'action, Crime, Drama, Thriller' 'Drama, Romance, Fantasy'
 'Drama, Mystery, Thriller' 'Drama, Musical, Romance' 'Thriler, Spy'
 'Adventure' 'action, Comedy, Crime, Romance' 'Drama, Romance, Musical'
 'Musical, Romance, Thriller' 'Adventure, Drama'
 'Horror, Mystery, Romance, Thriller' 'Biography, Drama'
 'Superhero, action, Adventure, Fantasy' 'Animation, Family, Romance'
 'Comedy, Social' 'Comedy, Drama, Musical, Romance' 'Politics'
 'Musical, Drama, Romance, Family' 'Romance, Drama, Romance'
 'action, Drama, Mystery, Romance, Thriller' 'Animation' 'Sports'
 'Drama, Fantasy, Musical' 'Crime, Drama, Mystery' 'Action Comedy'
 'Romantic Comedy' 'Political' 'Action Thriller' 'Historical Drama'
 'Romance, Drama, Social, Comedy' 'Action Thriller, Romance'
 'Action, comedy, romance' 'Dark comedy' 'Musical' 'Action thriller'
 'Romantic comedy, sports' 'Romantic comedy' 'Drama, romance'
 'Musical, social, drama, romance' 'Thriller, romance'
 'Comedy, thriller, social' 'Drama, family' 'Epic film'
 'Comedy, Crime, Romance' 'Action/Thriller' 'Sports/Social'
 'Found footage' 'horror' 'Social/Drama' 'Comedy/Romance/Fantasy'
 'Romance/Drama' 'Children/Drama' 'Comedy/Romance' 'Thriller/Romance'
 'Drama/Political Thriller' 'Action/Romance'
 'Action, Romance, Thriller, Crime' 'Political, Comedy'
 'Mystery, Suspense' 'Horror/Thriller' 'Biographical'
 'Biographical, Animation' 'Action, Adventure' 'Romance / Thriller'
 'Period' 'Comedy / Crime' 'Drama Romance' 'Action comedy' 'Animated'
 'Social thriller' 'Adult/Comedy/Romance' 'Comedy/Drama/Action'
 'Adult/Romance/Comedy' 'Comedy/Comedy/Comedy' 'Cult' 'Family drama'
 'Thriller/Black comedy' 'Children' 'Mystery/Action'
 'Satire/Comedy/Teen film' 'Superhero/Children' 'Drama/Cult'
 'Comedy Road movie' 'Teen/Comedy' 'Romance/Comedy' 'Horror/Romance'
 'Action/Drama' 'Psychological thriller' 'Drama/Comedy' 'Drama/Thriller'
 'Romance/Teen' 'Action/Comedy' 'Romance/Road' 'Comedy/Social'
 'Romance/Action' 'Romantic/Comedy' 'Comedy/Action' 'Romantic'
 'Romance Comedy Crime' 'Action/Sci-Fi' 'Action/thriller' 'Comedy/Crime'
 'Adult/Horror' 'Adult/Romance/Thriller' 'Suspense/Thriller'
 'Adult/Thriller' 'Crime/Thriller' 'Romance/Thriller' 'Adult/Action/Crime'
 'Computer-Animated' 'Adult/Romantic' 'Action/comedy' 'Political/Thriller'
 'Adult/Crime/Thriller' 'Adult/Comedy' 'Thriller/Social'
 'Adult/Suspense/Thriller' 'Adult/Drama' 'Rom-Com' 'Computer Animated'
 'Political Thriller' 'Thriller/Crime' 'Musical Comedy'
 'Animation/Drama/Children' 'Drama/Suspense' 'Thriller/Drama'
 'Romance/Crime' 'Animation/Musical' 'Drama/Family' 'Drama/Dance'
 'Satire/Comedy' 'Comedy/Satire' 'Musical romance' 'Anthology'
 'Children/Animation' 'Zombie comedy' 'Coming of age' 'Drama/Action'
 'Romantic drama' 'Romantic thriller' 'Comedy/Thriller' 'Biopic' 'Rom-com'
 'Avant-garde' 'Erotic/Thriller' 'Crime/Romance'
 'Drama/Espionage thriller' 'Political thriller' 'Adult comedy'
 'Rom com/Action' 'Suspense thriller' 'Psychological thriller/Romance'
 'War comedy' 'Masala' 'Drama/Biography' 'Political/Drama' 'Crime/Drama'
 'Superhero' 'Comedy/Crime/Romance' 'Action/Adventure'
 'Black Comedy/Thriller' 'Experimental' 'Action - comedy' 'Drama/Social'
 'Documentary' 'Drama/Romance' 'Social/Action' 'Horror Comedy'
 'Horror/Adult' 'Sci-fi/Comedy' 'Drama/Fantasy' 'Fantasy/Children'
 'Musical/Drama' 'Mystery/Thriller/Drama' 'Adult' 'Mystery' 'Comedy/Drama'
 'Comedy/Drama/Romance' 'Dance' 'Social satire' 'Political Satire'
 'Found footage / Horror' 'Erotica/Thriller' 'Action/romance'
 'Comedy/thriller' 'Romantic/comedy' 'Action/drama' 'Romance/thriller'
 'Historical drama' 'Crime/drama' 'Romance/drama' 'Political drama'
 'Sci fi/thriller' 'Dance/drama' 'Crime/action' 'Thriller/drama'
 'Comedy/drama' 'Spoof, comedy, thriller' 'Romance/comedy' 'Social/comedy'
 'Action, comedy, drama' 'Drama/thriller' 'Social/drama' 'Crime/comedy'
 'Romantic/drama' 'Crime/thriller' 'Adult/thriller' 'Neo-noir'
 'War/Thriller' 'Musical drama' 'Biopic/drama' 'Actiom/drama'
 'Drama/comedy' 'Satire' 'Action/thriller/romance' 'Action/drama/thriller'
 'Adventure, drama' 'Thriller/horror' 'Action/biopic' 'Comedy/romance'
 'Sports/drama' 'Sex comedy/horror' 'Road movie' 'Period drama'
 'Superhero/Action/comedy' 'Comedy/sports' 'Biopic/sports' 'Drama/romance'
 'Supernatural comedy' 'Animation/comedy/adventure' 'Social drama'
 'Comedy thriller' 'Drama/action' 'Romantic/erotic' 'Romantic/horror'
 'Crime drama' 'Comedy/crime' 'War/drama' 'Romance/action'
 'Anthology/drama' 'Political crime thriller' 'Suspense/Mystery'
 'Sex/drama' 'Period drama/action' 'Musical/drama' 'Action/crime Thriller'
 'Biographic' 'Road film' 'Social/Comedy' 'Erotic thriller'
 'Drama/disaster' 'Suspense/thriller' 'Comedy drama'
 'Psychological,Thriller' 'Suspense,Thriller' 'drama' 'Comedy,Drama'
 'Romantic,Comedy' 'thriller' 'Romantic/ Comedy' 'Satire/ Comedy'
 'Action, thriller' 'Romantic,thriller' 'Crime,Drama' 'Horror,Thriller'
 'Horror,Comedy' 'Suspense,thriller' 'Romantic,comedy' 'Musical,comedy'
 'Crime,Comedy' 'Sports/Drama' 'Action/War' 'Psychological,drama'
 'Romantic/Drama' 'Action/Drama/Musical' 'Romance, Social,Drama'
 'romance,comedy' 'Comedy, Romance, Drama' 'Action,Thriller'
 'Romance,Family,Drama' 'action/adventure' 'Adult-comedy' 'Crime, Drama'
 'Biography,Drama' 'comedy' 'Drama/ Coming of Age' 'Romance, comedy'
 'Drama /Thriller' 'Social ,Drama' 'Drama/historical'
 'Period drama / thriller' 'Drama/ Thriller' 'Action ,Thriller'
 'Romance, thriller' 'Family, Drama' 'crime, thriller' 'Romance,drama'
 'Horror Thriller' 'Historical/Romance' 'Black Comedy' 'Action/battle'
 'Crime,Thriller']

In [8]:
movies['Genre'].value_counts()

Drama                       221
Comedy                      196
\n                          152
Romance                      87
Thriller                     82
                           ...
Family, Drama, Social\n       1
Romantic Comedy\n             1
Mystery/Action                1
Crime drama                   1
Political crime thriller      1
Name: Genre, Length: 503, dtype: int64

In [9]:
movies.dropna(inplace=True)

In [10]:
movies.shape

(2035, 4)

In [11]:
movies.duplicated().any()

False

In [12]:
movies.duplicated().sum()

0

In [13]:
movies.Genre=movies.Genre.apply(lambda x: x.replace('\n', ''))
movies.Genre.unique()

array(['Thriller', 'Drama', 'Romance', 'Family', 'Drama, Social',
       'Action', 'Action, Drama', 'Comedy, Drama', 'Comedy', 'Horror',
       'Action, Romance', 'Romance, Drama', 'Comedy, Romance',
       'Drama, Family, Thriller', 'Crime', 'Comedy, Drama, Romance',
       'Comedy, romance', 'Romance, Drama, Musical', 'Action, romance',
       'Romance, drama', 'Drama, War, Thriller',
       'Drama, Romance, Musical, Family',
       'Comedy, Drama, Romance, Musical', 'Comedy, Musical',
       'Drama, Romance', 'Thriller, Action, Romance',
       'Suspense, Thriller', 'Family Drama', 'Action Comedy',
       'Thriller, Suspense, Crime', 'Thriller, Horror', 'History',
       'Drama, Romance, Social', '', 'Drama, Romance, Musical, Social',
       'Drama, Comedy, Romance, Musical', 'Drama, War, Romance, Action',
       'Action, Drama, Thriller', 'Drama, Romance, Family',
       'Drama, Musical, Social', 'Drama, Romance, Musical, Crime',
       'Comedy, Family', 'Drama, Romance, Thriller', 'Historical Drama',
       'Thriller, Action', 'Historical', 'Action, Thriller',
       'Action, Comedy', "Children's", 'Comedy, Romance, Crime',
       'Crime, Drama', 'Romance, Drama, Musical, Historical',
       'Family, Romance, Drama', 'Erotic', 'Thriller, Romance',
       'Thriller, Romance, Musical', 'Fantasy', 'Romance, Drama, Comedy',
       'Romance, Drama, Comedy, Musical', 'Family, Drama, Social',
       'Action, Crime', 'Horror, Thriller, Romance, Musical',
       'Drama, Family', 'Drama, Romance, Social, Musical',
       'Historical, Drama', 'Musical', 'Drama, Romance, Comedy, Musical',
       'Action, Drama, Romance, Thriller', 'Horror, Thriller',
       'Action, Drama, Romance', 'Drama, Action, Thriller',
       'Drama, Thriller', 'Drama, Musical',
       'Drama, Romance, Comedy, Family, Musical, Social',
       'Romance, Fantasy, Musical', 'Drama, Romance, Musical',
       'War, Drama, Historical', 'Comedy, Social, Musical', 'Adult',
       'War, Drama', 'Mystery, Thriller', 'Romance, Comedy',
       'Adult Romance', 'Thriller, Drama', 'Fantasy, Thriller',
       'Erotic Romance', 'Comedy, Drama, Romance, Family',
       'Comedy, Romance, Drama, Musical', 'Adult Drama', 'Adult Comedy',
       'War, Drama, Action, Romance', 'Adult Thriller',
       'Action, Musical, Drama, Comedy', 'Mystery, Drama',
       'Romance, Musical Drama', 'Action, Comedy, Romance',
       'Comedy, Romance, Musical', 'Black Comedy', 'Sports Comedy',
       'Romantic, Comedy', 'Fantasy Thriller',
       'Drama, Romance, Family, Musical', 'Drama, Action',
       'Crime / Thriller', 'Romance, Drama, Family',
       'Comedy, Crime, Romance, Musical', 'Erotic Drama',
       'Action, Thriller, Suspense', 'Erotic Thriller', 'Romantic Comedy',
       'Family drama', 'Sports, Drama, Social', 'Erotic, Crime',
       'Erotic romance', 'Drama, Historical', 'Romance, Musical',
       'Erotic thriller', 'Fantasy, Romance, Musical',
       'Romance, Comedy, Drama, Social', 'History, Epic, Romance',
       'Fantasy, Comedy', 'Thriller, Mystery', 'Comedy, Romance, Social',
       'Drama, Romance, Crime', 'Comedy, Thriller',
       'Action, Sports, Romance', 'Drama, Romance, Family, Social',
       'Drama, Comedy', 'Drama, Thriller, Business', 'Comedy, Crime',
       'Thriller, Action, Romance, Musical', 'Thriller, Action, Drama',
       'Drama, Romance, Thriller, Musical', 'Thriller, Comedy',
       'Supensene, Thriller, Sci-fi', 'Drama, Romance, Musical, Comedy',
       'Comedy, Adult', 'Social, Adult', 'Drama, Thriller, War',
       'Drama, Romance, Musical, Comedy, Family, Social',
       'Superhero, Action, Fantasy, Romance, Musical',
       'Thriller, Fantasy', 'Drama, Social, Action',
       'Drama, Patriotic, Social', 'Social, Thriller', 'B-grade',
       'Drama, Romance, Social, Historical', 'War',
       'Drama, Thriller, Romance', 'Family, Drama, Sports',
       'Mythological', 'Mystery, Thriller, Comedy',
       'Action, Drama, Romance, Crime',
       'Crime Fiction, Drama, Historical', 'Short Film', 'Sports',
       'Romance, Comedy, Drama', 'Family, Drama',
       'Thriller, Horror, Romance, Mystery',
       'Action, Comedy, Romance, Musical', 'Romance, comedy',
       'Drama, Romance, Social, Comedy', 'Action, Patriotic',
       'Musical, Drama', 'Romance |', 'Action, Romance, Comedy, Drama',
       'Drama, romance', 'Cricket', 'Drama, social, musical, romance',
       'Action, crime, drama', 'Romance, drama, social', 'Social',
       'History, Romance', 'Social, Drama, History', 'Crime, Thriller',
       'action, Romance', 'Drama, action, Crime, Thriller, Romance',
       'Comedy, Drama, Fantasy', 'action, Crime, Drama, Thriller',
       'Drama, Romance, Fantasy', 'Drama, Mystery, Thriller',
       'Drama, Musical, Romance', 'Thriler, Spy', 'Adventure',
       'action, Comedy, Crime, Romance', 'Musical, Romance, Thriller',
       'Adventure, Drama', 'Horror, Mystery, Romance, Thriller',
       'Biography, Drama', 'Superhero, action, Adventure, Fantasy',
       'Animation, Family, Romance', 'Comedy, Social',
       'Comedy, Drama, Musical, Romance', 'Politics',
       'Musical, Drama, Romance, Family', 'Romance, Drama, Romance',
       'action, Drama, Mystery, Romance, Thriller', 'Animation',
       'Drama, Fantasy, Musical', 'Crime, Drama, Mystery', 'Political',
       'Action Thriller', 'Romance, Drama, Social, Comedy',
       'Action Thriller, Romance', 'Action, comedy, romance',
       'Dark comedy', 'Action thriller', 'Romantic comedy, sports',
       'Romantic comedy', 'Musical, social, drama, romance',
       'Thriller, romance', 'Comedy, thriller, social', 'Drama, family',
       'Epic film', 'Comedy, Crime, Romance', 'Action/Thriller',
       'Sports/Social', 'Found footage', 'horror', 'Social/Drama',
       'Comedy/Romance/Fantasy', 'Romance/Drama', 'Children/Drama',
       'Comedy/Romance', 'Thriller/Romance', 'Drama/Political Thriller',
       'Action/Romance', 'Action, Romance, Thriller, Crime',
       'Political, Comedy', 'Mystery, Suspense', 'Horror/Thriller',
       'Biographical', 'Biographical, Animation', 'Action, Adventure',
       'Romance / Thriller', 'Period', 'Comedy / Crime', 'Drama Romance',
       'Action comedy', 'Animated', 'Social thriller',
       'Adult/Comedy/Romance', 'Comedy/Drama/Action',
       'Adult/Romance/Comedy', 'Comedy/Comedy/Comedy', 'Cult',
       'Thriller/Black comedy', 'Children', 'Mystery/Action',
       'Satire/Comedy/Teen film', 'Superhero/Children', 'Drama/Cult',
       'Comedy Road movie', 'Teen/Comedy', 'Romance/Comedy',
       'Horror/Romance', 'Action/Drama', 'Psychological thriller',
       'Drama/Comedy', 'Drama/Thriller', 'Romance/Teen', 'Action/Comedy',
       'Romance/Road', 'Comedy/Social', 'Romance/Action',
       'Romantic/Comedy', 'Comedy/Action', 'Romantic',
       'Romance Comedy Crime', 'Action/Sci-Fi', 'Action/thriller',
       'Comedy/Crime', 'Adult/Horror', 'Adult/Romance/Thriller',
       'Suspense/Thriller', 'Adult/Thriller', 'Crime/Thriller',
       'Romance/Thriller', 'Adult/Action/Crime', 'Computer-Animated',
       'Adult/Romantic', 'Action/comedy', 'Political/Thriller',
       'Adult/Crime/Thriller', 'Adult/Comedy', 'Thriller/Social',
       'Adult/Suspense/Thriller', 'Adult/Drama', 'Rom-Com',
       'Computer Animated', 'Political Thriller', 'Thriller/Crime',
       'Musical Comedy', 'Animation/Drama/Children', 'Drama/Suspense',
       'Thriller/Drama', 'Romance/Crime', 'Animation/Musical',
       'Drama/Family', 'Drama/Dance', 'Satire/Comedy', 'Comedy/Satire',
       'Musical romance', 'Anthology', 'Children/Animation',
       'Zombie comedy', 'Coming of age', 'Drama/Action', 'Romantic drama',
       'Romantic thriller', 'Comedy/Thriller', 'Biopic', 'Rom-com',
       'Avant-garde', 'Erotic/Thriller', 'Crime/Romance',
       'Drama/Espionage thriller', 'Political thriller', 'Adult comedy',
       'Rom com/Action', 'Suspense thriller',
       'Psychological thriller/Romance', 'War comedy', 'Masala',
       'Drama/Biography', 'Political/Drama', 'Crime/Drama', 'Superhero',
       'Comedy/Crime/Romance', 'Action/Adventure',
       'Black Comedy/Thriller', 'Experimental', 'Action - comedy',
       'Drama/Social', 'Documentary', 'Drama/Romance', 'Social/Action',
       'Horror Comedy', 'Horror/Adult', 'Sci-fi/Comedy', 'Drama/Fantasy',
       'Fantasy/Children', 'Musical/Drama', 'Mystery/Thriller/Drama',
       'Mystery', 'Comedy/Drama', 'Comedy/Drama/Romance', 'Dance',
       'Social satire', 'Political Satire', 'Found footage / Horror',
       'Erotica/Thriller', 'Action/romance', 'Comedy/thriller',
       'Romantic/comedy', 'Action/drama', 'Romance/thriller',
       'Historical drama', 'Crime/drama', 'Romance/drama',
       'Political drama', 'Sci fi/thriller', 'Dance/drama',
       'Crime/action', 'Thriller/drama', 'Comedy/drama',
       'Spoof, comedy, thriller', 'Romance/comedy', 'Social/comedy',
       'Action, comedy, drama', 'Drama/thriller', 'Social/drama',
       'Crime/comedy', 'Romantic/drama', 'Crime/thriller',
       'Adult/thriller', 'Neo-noir', 'War/Thriller', 'Musical drama',
       'Biopic/drama', 'Actiom/drama', 'Drama/comedy', 'Satire',
       'Action/thriller/romance', 'Action/drama/thriller',
       'Adventure, drama', 'Thriller/horror', 'Action/biopic',
       'Comedy/romance', 'Sports/drama', 'Sex comedy/horror',
       'Road movie', 'Period drama', 'Superhero/Action/comedy',
       'Comedy/sports', 'Biopic/sports', 'Drama/romance',
       'Supernatural comedy', 'Animation/comedy/adventure',
       'Social drama', 'Comedy thriller', 'Drama/action',
       'Romantic/erotic', 'Romantic/horror', 'Crime drama',
       'Comedy/crime', 'War/drama', 'Romance/action', 'Anthology/drama',
       'Political crime thriller', 'Suspense/Mystery', 'Sex/drama',
       'Period drama/action', 'Musical/drama', 'Action/crime Thriller',
       'Biographic', 'Road film', 'Social/Comedy', 'Drama/disaster',
       'Suspense/thriller', 'Comedy drama', 'Psychological,Thriller',
       'Suspense,Thriller', 'drama', 'Comedy,Drama', 'Romantic,Comedy',
       'thriller', 'Romantic/ Comedy', 'Satire/ Comedy',
       'Action, thriller', 'Romantic,thriller', 'Crime,Drama',
       'Horror,Thriller', 'Horror,Comedy', 'Suspense,thriller',
       'Romantic,comedy', 'Musical,comedy', 'Crime,Comedy',
       'Sports/Drama', 'Action/War', 'Psychological,drama',
       'Romantic/Drama', 'Action/Drama/Musical', 'Romance, Social,Drama',
       'romance,comedy', 'Comedy, Romance, Drama', 'Action,Thriller',
       'Romance,Family,Drama', 'action/adventure', 'Adult-comedy',
       'Biography,Drama', 'comedy', 'Drama/ Coming of Age',
       'Drama /Thriller', 'Social ,Drama', 'Drama/historical',
       'Period drama / thriller', 'Drama/ Thriller', 'Action ,Thriller',
       'Romance, thriller', 'crime, thriller', 'Romance,drama',
       'Horror Thriller', 'Historical/Romance', 'Action/battle',
       'Crime,Thriller'], dtype=object)

In [14]:
movies.Genre=movies.Genre.apply(lambda x: x.lower())
movies.Genre=movies.Genre.apply(lambda x: x.strip())
movies.Genre.unique()

array(['thriller', 'drama', 'romance', 'family', 'drama, social',
       'action', 'action, drama', 'comedy, drama', 'comedy', 'horror',
       'action, romance', 'romance, drama', 'comedy, romance',
       'drama, family, thriller', 'crime', 'comedy, drama, romance',
       'romance, drama, musical', 'drama, war, thriller',
       'drama, romance, musical, family',
       'comedy, drama, romance, musical', 'comedy, musical',
       'drama, romance', 'thriller, action, romance',
       'suspense, thriller', 'family drama', 'action comedy',
       'thriller, suspense, crime', 'thriller, horror', 'history',
       'drama, romance, social', '', 'drama, romance, musical, social',
       'drama, comedy, romance, musical', 'drama, war, romance, action',
       'action, drama, thriller', 'drama, romance, family',
       'drama, musical, social', 'drama, romance, musical, crime',
       'comedy, family', 'drama, romance, thriller', 'historical drama',
       'thriller, action', 'historical', 'action, thriller',
       'action, comedy', "children's", 'comedy, romance, crime',
       'crime, drama', 'romance, drama, musical, historical',
       'family, romance, drama', 'erotic', 'thriller, romance',
       'thriller, romance, musical', 'fantasy', 'romance, drama, comedy',
       'romance, drama, comedy, musical', 'family, drama, social',
       'action, crime', 'horror, thriller, romance, musical',
       'drama, family', 'drama, romance, social, musical',
       'historical, drama', 'musical', 'drama, romance, comedy, musical',
       'action, drama, romance, thriller', 'horror, thriller',
       'action, drama, romance', 'drama, action, thriller',
       'drama, thriller', 'drama, musical',
       'drama, romance, comedy, family, musical, social',
       'romance, fantasy, musical', 'drama, romance, musical',
       'war, drama, historical', 'comedy, social, musical', 'adult',
       'war, drama', 'mystery, thriller', 'romance, comedy',
       'adult romance', 'thriller, drama', 'fantasy, thriller',
       'erotic romance', 'comedy, drama, romance, family',
       'comedy, romance, drama, musical', 'adult drama', 'adult comedy',
       'war, drama, action, romance', 'adult thriller',
       'action, musical, drama, comedy', 'mystery, drama',
       'romance, musical drama', 'action, comedy, romance',
       'comedy, romance, musical', 'black comedy', 'sports comedy',
       'romantic, comedy', 'fantasy thriller',
       'drama, romance, family, musical', 'drama, action',
       'crime / thriller', 'romance, drama, family',
       'comedy, crime, romance, musical', 'erotic drama',
       'action, thriller, suspense', 'erotic thriller', 'romantic comedy',
       'sports, drama, social', 'erotic, crime', 'drama, historical',
       'romance, musical', 'fantasy, romance, musical',
       'romance, comedy, drama, social', 'history, epic, romance',
       'fantasy, comedy', 'thriller, mystery', 'comedy, romance, social',
       'drama, romance, crime', 'comedy, thriller',
       'action, sports, romance', 'drama, romance, family, social',
       'drama, comedy', 'drama, thriller, business', 'comedy, crime',
       'thriller, action, romance, musical', 'thriller, action, drama',
       'drama, romance, thriller, musical', 'thriller, comedy',
       'supensene, thriller, sci-fi', 'drama, romance, musical, comedy',
       'comedy, adult', 'social, adult', 'drama, thriller, war',
       'drama, romance, musical, comedy, family, social',
       'superhero, action, fantasy, romance, musical',
       'thriller, fantasy', 'drama, social, action',
       'drama, patriotic, social', 'social, thriller', 'b-grade',
       'drama, romance, social, historical', 'war',
       'drama, thriller, romance', 'family, drama, sports',
       'mythological', 'mystery, thriller, comedy',
       'action, drama, romance, crime',
       'crime fiction, drama, historical', 'short film', 'sports',
       'romance, comedy, drama', 'family, drama',
       'thriller, horror, romance, mystery',
       'action, comedy, romance, musical',
       'drama, romance, social, comedy', 'action, patriotic',
       'musical, drama', 'romance |', 'action, romance, comedy, drama',
       'cricket', 'drama, social, musical, romance',
       'action, crime, drama', 'romance, drama, social', 'social',
       'history, romance', 'social, drama, history', 'crime, thriller',
       'drama, action, crime, thriller, romance',
       'comedy, drama, fantasy', 'action, crime, drama, thriller',
       'drama, romance, fantasy', 'drama, mystery, thriller',
       'drama, musical, romance', 'thriler, spy', 'adventure',
       'action, comedy, crime, romance', 'musical, romance, thriller',
       'adventure, drama', 'horror, mystery, romance, thriller',
       'biography, drama', 'superhero, action, adventure, fantasy',
       'animation, family, romance', 'comedy, social',
       'comedy, drama, musical, romance', 'politics',
       'musical, drama, romance, family', 'romance, drama, romance',
       'action, drama, mystery, romance, thriller', 'animation',
       'drama, fantasy, musical', 'crime, drama, mystery', 'political',
       'action thriller', 'romance, drama, social, comedy',
       'action thriller, romance', 'dark comedy',
       'romantic comedy, sports', 'musical, social, drama, romance',
       'comedy, thriller, social', 'epic film', 'comedy, crime, romance',
       'action/thriller', 'sports/social', 'found footage',
       'social/drama', 'comedy/romance/fantasy', 'romance/drama',
       'children/drama', 'comedy/romance', 'thriller/romance',
       'drama/political thriller', 'action/romance',
       'action, romance, thriller, crime', 'political, comedy',
       'mystery, suspense', 'horror/thriller', 'biographical',
       'biographical, animation', 'action, adventure',
       'romance / thriller', 'period', 'comedy / crime', 'drama romance',
       'animated', 'social thriller', 'adult/comedy/romance',
       'comedy/drama/action', 'adult/romance/comedy',
       'comedy/comedy/comedy', 'cult', 'thriller/black comedy',
       'children', 'mystery/action', 'satire/comedy/teen film',
       'superhero/children', 'drama/cult', 'comedy road movie',
       'teen/comedy', 'romance/comedy', 'horror/romance', 'action/drama',
       'psychological thriller', 'drama/comedy', 'drama/thriller',
       'romance/teen', 'action/comedy', 'romance/road', 'comedy/social',
       'romance/action', 'romantic/comedy', 'comedy/action', 'romantic',
       'romance comedy crime', 'action/sci-fi', 'comedy/crime',
       'adult/horror', 'adult/romance/thriller', 'suspense/thriller',
       'adult/thriller', 'crime/thriller', 'romance/thriller',
       'adult/action/crime', 'computer-animated', 'adult/romantic',
       'political/thriller', 'adult/crime/thriller', 'adult/comedy',
       'thriller/social', 'adult/suspense/thriller', 'adult/drama',
       'rom-com', 'computer animated', 'political thriller',
       'thriller/crime', 'musical comedy', 'animation/drama/children',
       'drama/suspense', 'thriller/drama', 'romance/crime',
       'animation/musical', 'drama/family', 'drama/dance',
       'satire/comedy', 'comedy/satire', 'musical romance', 'anthology',
       'children/animation', 'zombie comedy', 'coming of age',
       'drama/action', 'romantic drama', 'romantic thriller',
       'comedy/thriller', 'biopic', 'avant-garde', 'erotic/thriller',
       'crime/romance', 'drama/espionage thriller', 'rom com/action',
       'suspense thriller', 'psychological thriller/romance',
       'war comedy', 'masala', 'drama/biography', 'political/drama',
       'crime/drama', 'superhero', 'comedy/crime/romance',
       'action/adventure', 'black comedy/thriller', 'experimental',
       'action - comedy', 'drama/social', 'documentary', 'drama/romance',
       'social/action', 'horror comedy', 'horror/adult', 'sci-fi/comedy',
       'drama/fantasy', 'fantasy/children', 'musical/drama',
       'mystery/thriller/drama', 'mystery', 'comedy/drama',
       'comedy/drama/romance', 'dance', 'social satire',
       'political satire', 'found footage / horror', 'erotica/thriller',
       'political drama', 'sci fi/thriller', 'dance/drama',
       'crime/action', 'spoof, comedy, thriller', 'social/comedy',
       'action, comedy, drama', 'crime/comedy', 'romantic/drama',
       'neo-noir', 'war/thriller', 'musical drama', 'biopic/drama',
       'actiom/drama', 'satire', 'action/thriller/romance',
       'action/drama/thriller', 'thriller/horror', 'action/biopic',
       'sports/drama', 'sex comedy/horror', 'road movie', 'period drama',
       'superhero/action/comedy', 'comedy/sports', 'biopic/sports',
       'supernatural comedy', 'animation/comedy/adventure',
       'social drama', 'comedy thriller', 'romantic/erotic',
       'romantic/horror', 'crime drama', 'war/drama', 'anthology/drama',
       'political crime thriller', 'suspense/mystery', 'sex/drama',
       'period drama/action', 'action/crime thriller', 'biographic',
       'road film', 'drama/disaster', 'comedy drama',
       'psychological,thriller', 'suspense,thriller', 'comedy,drama',
       'romantic,comedy', 'romantic/ comedy', 'satire/ comedy',
       'romantic,thriller', 'crime,drama', 'horror,thriller',
       'horror,comedy', 'musical,comedy', 'crime,comedy', 'action/war',
       'psychological,drama', 'action/drama/musical',
       'romance, social,drama', 'romance,comedy',
       'comedy, romance, drama', 'action,thriller',
       'romance,family,drama', 'adult-comedy', 'biography,drama',
       'drama/ coming of age', 'drama /thriller', 'social ,drama',
       'drama/historical', 'period drama / thriller', 'drama/ thriller',
       'action ,thriller', 'romance, thriller', 'romance,drama',
       'horror thriller', 'historical/romance', 'action/battle',
       'crime,thriller'], dtype=object)

In [15]:
# movies['Genre'] = movies.Genre.str.split(',|/')
movies.head(10)

   Movie_ID            Title  Year             Genre
0     34759         Aaghaaz   2000        [thriller]
1     34760     Aaj Ka Ravan  2000           [drama]
2     34761          Anjaane  2000         [romance]
3     34762      Anokha Moti  2000          [family]
4     34763     Apradhi Kaun  2000        [thriller]
5     34764          Astitva  2000  [drama,  social]
6     34765           Baaghi  2000          [action]
7     34766            Badal  2000  [action,  drama]
8     34767  Bas Yaari Rakho  2000  [comedy,  drama]
9     34768         Bawandar  2000           [drama]

In [16]:
movies.drop_duplicates(subset ="Title", keep = False, inplace = True)

In [17]:
movies.head()

   Movie_ID         Title  Year       Genre
0     34759      Aaghaaz   2000  [thriller]
1     34760  Aaj Ka Ravan  2000     [drama]
2     34761       Anjaane  2000   [romance]
3     34762   Anokha Moti  2000    [family]
4     34763  Apradhi Kaun  2000  [thriller]

In [18]:
movies.shape

(2035, 4)

In [19]:
movies.Title = movies.Title.apply(lambda x: x.strip())
movies.Genre = movies.Genre.apply(lambda x: np.nan if x==[''] else x)
movies.isnull().sum()

Movie_ID      0
Title         0
Year          0
Genre       152
dtype: int64

In [20]:
movies.shape

(2035, 4)

In [25]:
movies.dropna(inplace=True)

In [26]:
movies.shape

(1883, 4)

In [27]:
movies.isnull().sum()

Movie_ID    0
Title       0
Year        0
Genre       0
dtype: int64

In [28]:
movies.head(10)

   Movie_ID            Title  Year             Genre
0     34759          Aaghaaz  2000        [thriller]
1     34760     Aaj Ka Ravan  2000           [drama]
2     34761          Anjaane  2000         [romance]
3     34762      Anokha Moti  2000          [family]
4     34763     Apradhi Kaun  2000        [thriller]
5     34764          Astitva  2000  [drama,  social]
6     34765           Baaghi  2000          [action]
7     34766            Badal  2000  [action,  drama]
8     34767  Bas Yaari Rakho  2000  [comedy,  drama]
9     34768         Bawandar  2000           [drama]

In [29]:
movies.tail(10)

,Movie_ID,Title,Year,Genre
2079,36963,Shikara - A Love Letter from Kashmir,2019,"[historical, romance]"
2080,36964,Bala,2019,[black comedy]
2081,36965,Pagalpanti,2019,[comedy]
2082,36966,Dil Bechara,2019,"[romance, drama]"
2083,36967,Jawaani Jaaneman,2019,"[romance, drama]"
2084,36968,Panipat,2019,"[action, battle]"
2085,36969,"Pati, Patni Aur Woh",2019,[comedy]
2086,36970,Mardaani 2,2019,"[crime, thriller]"
2087,36971,Dabangg 3,2019,[action]
2088,36972,Good News,2019,[comedy]

In [30]:
movies.dtypes

Movie_ID     int64
Title       object
Year         int64
Genre       object
dtype: object

In [33]:
#Copying the movie dataframe into a new one since we won't need to use the genre information in our first case.
moviesWithGenres_df = movies.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in movies.iterrows():
    for genre in row['Genre']:
        moviesWithGenres_df.at[index, genre.strip()] = 1
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head(10)

,Movie_ID,Title,Year,Genre,thriller,drama,romance,family,social,action,...,sex,crime thriller,biographic,road film,disaster,comedy drama,psychological,adult-comedy,horror thriller,battle
0,34759,Aaghaaz,2000,[thriller],1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,34760,Aaj Ka Ravan,2000,[drama],0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,34761,Anjaane,2000,[romance],0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,34762,Anokha Moti,2000,[family],0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34763,Apradhi Kaun,2000,[thriller],1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,34764,Astitva,2000,"[drama, social]",0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,34765,Baaghi,2000,[action],0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,34766,Badal,2000,"[action, drama]",0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,34767,Bas Yaari Rakho,2000,"[comedy, drama]",0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,34768,Bawandar,2000,[drama],0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
userInput = [
            {'Title':'Dahshat', 'rating':7},
            {'Title':'Raaz', 'rating':8},
            {'Title':'Darna Mana Hai', 'rating':8},
            {'Title':'Kaal', 'rating':9},
            {'Title':'Phoonk', 'rating':6.5},
            {'Title':'1920', 'rating':10},
            {'Title':"Raaz: The Mystery Continues", 'rating':8}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                         Title  rating
0                      Dahshat     7.0
1                         Raaz     8.0
2               Darna Mana Hai     8.0
3                         Kaal     9.0
4                       Phoonk     6.5
5                         1920    10.0
6  Raaz: The Mystery Continues     8.0

In [35]:
#Filtering out the movies by title
inputId = movies[movies['Title'].isin(inputMovies['Title'].tolist())]
inputMovies['Movie_ID'] = inputId['Movie_ID'].values
inputMovies

                         Title  rating  Movie_ID
0                      Dahshat     7.0     34776
1                         Raaz     8.0     34968
2               Darna Mana Hai     8.0     35011
3                         Kaal     9.0     35265
4                       Phoonk     6.5     35606
5                         1920    10.0     35615
6  Raaz: The Mystery Continues     8.0     35657

In [36]:
#We're going to start by learning the input's preferences, so let's get the subset of movies that the input has watched from the 
#Dataframe containing genres defined with binary values.

#Filtering out the movies from the input
userMovies = moviesWithGenres_df[moviesWithGenres_df['Title'].isin(inputMovies['Title'].tolist())]
# userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

,Movie_ID,Title,Year,Genre,thriller,drama,romance,family,social,action,...,sex,crime thriller,biographic,road film,disaster,comedy drama,psychological,adult-comedy,horror thriller,battle
17,34776,Dahshat,2000,[horror],0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
209,34968,Raaz,2002,"[horror, thriller, romance, musical]",1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
252,35011,Darna Mana Hai,2003,"[horror, thriller]",1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
505,35265,Kaal,2005,"[horror, thriller]",1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
833,35606,Phoonk,2008,[horror],0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
842,35615,1920,2008,"[horror, mystery, romance, thriller]",1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
874,35657,Raaz: The Mystery Continues,2009,[horror],0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
#We'll only need the actual genre table, so let's clean this up a bit by resetting the index and dropping the movieId, title, 
#genres and year columns.

#Resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMovies.drop(['Movie_ID','Title', 'Year','Genre'], 1)
userGenreTable

,thriller,drama,romance,family,social,action,comedy,horror,crime,musical,...,sex,crime thriller,biographic,road film,disaster,comedy drama,psychological,adult-comedy,horror thriller,battle
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
inputMovies

                         Title  rating  Movie_ID
0                      Dahshat     7.0     34776
1                         Raaz     8.0     34968
2               Darna Mana Hai     8.0     35011
3                         Kaal     9.0     35265
4                       Phoonk     6.5     35606
5                         1920    10.0     35615
6  Raaz: The Mystery Continues     8.0     35657

In [39]:
userGenreTable

,thriller,drama,romance,family,social,action,comedy,horror,crime,musical,...,sex,crime thriller,biographic,road film,disaster,comedy drama,psychological,adult-comedy,horror thriller,battle
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
#The user profile
userProfile
# inputMovies['rating']

thriller           35.0
drama               0.0
romance            18.0
family              0.0
social              0.0
                   ...
comedy drama        0.0
psychological       0.0
adult-comedy        0.0
horror thriller     0.0
battle              0.0
Length: 122, dtype: float64

In [41]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['Movie_ID'])
#And drop the unnecessary information
genreTable = genreTable.drop(['Movie_ID','Title', 'Year','Genre'], 1)
genreTable.head()

,thriller,drama,romance,family,social,action,comedy,horror,crime,musical,...,sex,crime thriller,biographic,road film,disaster,comedy drama,psychological,adult-comedy,horror thriller,battle
Movie_ID,,,,,,,,,,,,,,,,,,,,,
34759,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34760,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34761,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34762,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34763,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
genreTable*userProfile

,thriller,drama,romance,family,social,action,comedy,horror,crime,musical,...,sex,crime thriller,biographic,road film,disaster,comedy drama,psychological,adult-comedy,horror thriller,battle
Movie_ID,,,,,,,,,,,,,,,,,,,,,
34759,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34761,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34763,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36968,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36970,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36972,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
(genreTable*userProfile).sum(axis=1)

Movie_ID
34759    35.0
34760     0.0
34761    18.0
34762     0.0
34763    35.0
         ...
36968     0.0
36969     0.0
36970    35.0
36971     0.0
36972     0.0
Length: 1883, dtype: float64

In [44]:
((genreTable*userProfile).sum(axis=1))/(userProfile.sum())

Movie_ID
34759    0.274510
34760    0.000000
34761    0.141176
34762    0.000000
34763    0.274510
           ...
36968    0.000000
36969    0.000000
36970    0.274510
36971    0.000000
36972    0.000000
Length: 1883, dtype: float64

In [45]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

Movie_ID
34759    0.274510
34760    0.000000
34761    0.141176
34762    0.000000
34763    0.274510
dtype: float64

In [46]:
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df.head(20)

Movie_ID
35474    0.937255
35615    0.937255
34968    0.921569
36831    0.717647
36580    0.717647
34845    0.717647
35265    0.717647
35854    0.717647
35416    0.717647
35011    0.717647
36814    0.717647
35293    0.717647
35931    0.584314
35643    0.494118
35611    0.478431
34937    0.478431
35365    0.478431
35375    0.478431
35373    0.478431
35774    0.443137
dtype: float64

In [47]:
recommendationTable_df.head(10).keys()

Int64Index([35474, 35615, 34968, 36831, 36580, 34845, 35265, 35854, 35416,
            35011],
           dtype='int64', name='Movie_ID')

In [49]:
movies.loc[movies['Movie_ID'].isin(recommendationTable_df.head(10).keys())]

,Movie_ID,Title,Year,Genre
86,34845,Aks,2001,"[thriller, horror]"
209,34968,Raaz,2002,"[horror, thriller, romance, musical]"
252,35011,Darna Mana Hai,2003,"[horror, thriller]"
505,35265,Kaal,2005,"[horror, thriller]"
655,35416,Sacred Evil A True Story,2006,"[horror, thriller]"
712,35474,Darling,2007,"[thriller, horror, romance, mystery]"
842,35615,1920,2008,"[horror, mystery, romance, thriller]"
1060,35854,Hisss,2010,"[horror, thriller]"
1701,36580,Phobia,2016,"[thriller, horror]"
1947,36831,Ekta,2018,"[horror, thriller]"